{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'wordsheet.css' %}">
</head>
<body>
    <h1>공격단어</h1>
    <select onchange="window.open(value, '_self');">
        <option value="{% url 'backletter'} %" selected>끝말잇기</option>
        <option value="{% url 'frontletter' %}">앞말잇기</option>
        <option value="{% url 'attack' %}">공격단어</option>
    </select>
    <form method="post" name="searchForm">
        {% csrf_token %}
        <div id="search">
            <input name="first" placeholder="{{ placeholders.0 }}" autofocus>
            <input name="mission" placeholder="{{ placeholders.1 }}">
            <input name="length" placeholder="{{ placeholders.2 }}">
            <button>Search</button>
        </div>
    </form>
    <hr>
    <div id="words">
        {% for i in words%}
        <p>{{i.word}}</p>
        <p>미션 개수 : {{i.misnum}}개</p>
        <hr>
        {% endfor %}
    </div>
</body>
</html>